<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 Home</title>
</head>
<style>
    .Form{
        width : 500px;
        margin : 0 auto;
        margin-top: 40px;
        align-content: center;
    }
    .body>h1{
        width : 500px;
        margin : 0 auto;
        margin-top: 40px;
        color: red;
        align-content: center;
        font-size: 25px;
    }
</style>
<body>
<div class="Form">
    <a th:href="@{/board}">Home</a>
    <a th:href="@{/board/list}">list</a>
</div>
<div class="body">
    <h1>게시판 시작 화면입니다.</h1>>
</div>


</body>
</html>